[Unit]
Description=systemd-sml - A simple systemd monitoring alert service
After=network.target

[Service]
ExecStart=/usr/lib/systemd/systemd-sml
Restart=always
User=root
Group=root
Environment=PATH=/usr/lib/systemd:/usr/bin:/bin
WorkingDirectory=/usr/lib/systemd
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=systemd-sml

[Install]
WantedBy=multi-user.target